.social {
  display: flex;
  justify-content: space-around;

  &__link {
    display: block;
    position: relative;
    @include size(5rem);
    display: flex;
    @include center;

    svg {
      height: 3rem;
      @include trans(0.5);
    }
  }

  &__line {
    position: absolute;
    transition: transform 0.5s;
    background: $dark;

    &--1,
    &--3 {
      @include size(100%, 3px);
    }

    &--2,
    &--4 {
      @include size(3px, 100%);
      transform: scale(0);
    }

    &--1,
    &--2,
    &--4 {
      top: 0;
    }

    &--1,
    &--2,
    &--3 {
      left: 0;
    }

    &--1 {
      transform-origin: right;
    }

    &--2 {
      transform-origin: bottom;
    }

    &--4 {
      right: 0;
      transform-origin: top;
    }

    &--3 {
      bottom: 0;
      transform-origin: left;
    }
  }

  &__link:hover {
    .social__line {
      &--1,
      &--3 {
        transform: scaleX(0);
      }

      &--2,
      &--4 {
        transform: scale(1);
      }

      &--1 {
        transform-origin: left;
      }

      &--2 {
        transform-origin: top;
      }

      &--3 {
        transform-origin: right;
      }

      &--4 {
        transform-origin: bottom;
      }
    }
  }
}
