// *** FONTS IMPORT ***

// Primary font - Cormorant Garamond
// Secondary font - Lato
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Cormorant+Garamond:400,400i,700i&display=swap');

// ---------------------------------------------------------

body {
  font-family: $ff-primary;
  font-weight: $fw-regular;
  font-size: $fs-base;
  letter-spacing: 0.1px;

  @include respond-below(md) {
    font-size: $fs-base-sm;
  }
}

.bigtext {
  font-weight: $fw-bold;
  font-size: $fs-bigtext;
  font-style: italic;
  letter-spacing: 1.2px;

  @include respond-below(md) {
    font-size: $fs-bigtext-sm;
  }
}

%heading {
  font-weight: $fw-bold;
  font-family: $ff-secondary;
  line-height: 1;
}

.heading-primary,
.heading-secondary {
  text-transform: uppercase;
}

.heading-primary {
  @extend %heading;
  font-size: $fs-h-primary;
  letter-spacing: 0.75px;

  @include respond-below(md) {
    font-size: $fs-h-primary-sm;
  }
}

.heading-secondary {
  @extend %heading;
  font-size: $fs-h-secondary;
  letter-spacing: -0.25px;
  margin-bottom: $space-sm;

  @include respond-below(md) {
    font-size: $fs-h-secondary-sm;
  }
}

.heading-tertiary {
  @extend %heading;
  font-size: $fs-h-tertiary;
  line-height: 1.4;

  @include respond-below(md) {
    font-size: $fs-h-tertiary-sm;
  }
}

.prime {
  font-size: $fs-prime;
  font-style: italic;
  color: $base;
}
