.homepage {
  section {
    padding: $space-xxl 0;

    @include respond-below(md) {
      padding: $space-lg 0;
    }
  }

  .heading-secondary + .prime {
    margin-bottom: $space-xl;

    @include respond-below(md) {
      margin-bottom: $space-lg;
    }
  }
}
