// ***** COLORS *****
$primary: #fed136;
$primary-light: #ffd94f;
$primary-dark: #b39014;

$secondary: #f9f9f9;
$light: #f7f7f7;
$dark: #222222;
$base: #777777;

$white: #ffffff;

// ----------------------------------------------

// ***** FONT FAMILIES *****
$ff-primary: 'Roboto Slab', serif;
$ff-secondary: 'Open Sans', sans-serif;

// ----------------------------------------------

// ***** FONT WEIGHTS *****
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

// ----------------------------------------------

// ***** FONT SIZES *****
$fs-paragraph: 1.5rem;
$fs-paragraph-sm: 1.7rem;
