.team {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    row-gap: $space-xl;

    @include respond-between(md, lg) {
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-around;
    }

    @include respond-between(lg, xl) {
      column-gap: 2rem;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
  }

  &__caption {
    margin-top: $space-md;
    color: darken($color: $primary, $amount: 20%);
  }
}
