.top {
  height: 70rem;
  background: linear-gradient(90deg, #000000 0%, #434343 100%), iurl('top.jpg');
  background-blend-mode: soft-light;
  background-position: 50% -5rem;
  background-size: cover;
  overflow: hidden;

  @include respond-below(xl) {
    background-position: center center;
  }

  @include respond-below(md) {
    height: 50rem;
  }

  &__container {
    height: calc(100% - 8rem);
  }

  .bigtext {
    margin-bottom: 5rem;
  }

  .heading-primary {
    margin-bottom: $space-lg;
  }

  // Clear stage before animation
  .navbar-brand,
  .nav-link,
  .heading-primary,
  .bigtext,
  .btn,
  .menu__btn {
    opacity: 0;
    visibility: hidden;
    transform: translateY(3rem);
  }
}
