mixin svg-services-icons(index)
  case index
    when 1
      svg(width='64', height='42', fill='none')
        path(d='M56 1H8v34h48V1zM63 35H1v6h62v-6zM34 5h-4', stroke='#000', stroke-width='2', stroke-miterlimit='10')
        path(d='M14 18l12 12L50 6', stroke='#000', stroke-width='2', stroke-miterlimit='10', stroke-linejoin='bevel')

    when 2
      svg(width='43', height='54', fill='none')
        path(d='M41.258 27.839H1V53h40.258V27.839zM7.71 27.839v-13.42C7.71 7.008 13.717 1 21.129 1c7.412 0 13.42 6.008 13.42 13.42v13.419', stroke='#000', stroke-width='2', stroke-miterlimit='10')
        path(d='M21.129 42.935a3.355 3.355 0 100-6.71 3.355 3.355 0 000 6.71zM21.129 42.935v3.355', stroke='#000', stroke-width='2', stroke-miterlimit='10')

    when 3
      svg(width='63', height='42', fill='none')
        path(d='M61.084 1H1v40h60.084V1zM1 6.714h60.084M1 14.333h60.084M5.846 35.286h3.876M11.66 35.286h28.104', stroke='#000', stroke-width='2', stroke-miterlimit='10')

