//- PUG includes
include ./includes/main

//- -----------------------------------

//- Page data
- const pageData = require("./js/data/pageData.js");

//- -----------------------------------

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Golden
    meta(name="description" content="Responsive template focused on businesses and technology. Ideal website for a small company")
  body
    .wrapper
      header#home.top
        +nav(pageData.nav)
        .container.top__container.u-text-white          
          .row.h-100
            .col.align-self-center.text-center
              p.bigtext.top__bigtext=pageData.top.bigText
              h1.heading-primary.top__heading=pageData.top.headingPrimary
              +btn(pageData.top.button, 'btn--primary top__btn')