doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Golden
    meta(name="description" content="Responsive template focused on businesses and technology. Ideal website for a small company")
  body